*{
    margin: 0;
    padding: 0;
}
.main-signup{
    background-color: rgb(31 41 55);
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    height: auto;
}
.box-signup{
	background-color: rgb(17 24 39);
    /* color: white; */
    color: rgb(156 163 175);
    width: 350px;
    height: auto;
    line-height: 30px;
    border-radius: 10px;
    /* padding-bottom: 20px; */
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 10px 10px 30px 10px;
}
@media (max-width: 370px) {
    .box-signup{
        width: 100vw;
       min-height: 100vh;
       margin: 0%;
        
    }
    .form-signup{
        width: 80vw;
        /* background-color: aqua; */
    }
}
.h1-signup{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 70px;
    /* margin-top: 80px; */
    /* font-size: 60px; */
}
.form-signup{
    /* width: 300px; */
    margin: auto;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
    /* display: block; */
}
.form__input{
    width: 95%;
    padding: 8px;;
    background-color: rgb(55 65 81);
    border-radius: 7px;
    border-width: 0;
    border-color: rgb(59 130 246);
    margin-bottom: 10px;
    color: white;
    font-size: 18px;

}
.button-signup{
    width: 102%;
    margin-top: 20px;
    background-color: rgb(58, 171, 135);
    color: white;
    font-size: 20px;
    border-radius: 7px;
    padding: 8px;
    border-width: 0;
}
.txt{
    margin-top: 10px;
    font-size: 16px;
}
.button-signup:hover{
    background-color: rgb(31, 114, 89);
    font-size: 23px;
}
.a-signup{
    color: white;
    text-decoration: none;
}