.event-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #050c19;
}

.ele-rout {
    text-decoration: none;
    color: white;
}

.eve-head {
    margin: 10vmin;
    text-align: center;
}

.event-h1 {
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 10vmin;
    line-height: 62px;
    font-weight: 600;
    font-style: normal;
    margin: 10px;
}

.container {

    min-width: 200px;
    width: 30vw;
    margin: 10px;


}

.img1 {
    position: relative;
    width: 100%;
    height: 21vmax;
    border-radius: 4%;
}

.event-title-1 {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}

.event-dis {
    font-weight: 200;
    margin: 20px 0px;
    text-align: justify;
    font-size: 18px;
    word-spacing: 1px;
}

.event-dis:hover {
    color: white;
}

.button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.event-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4vmin;
    margin-bottom: 12vmin;

}

.link-hover:hover {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media screen and (max-width: 590px) {
    .event-h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 390px) {
    .event-h1 {
        font-size: 1.6rem;
    }
    
@media screen and (max-width: 442px) {
        .container{
            width: 87vw;
        }
    }
}