.Teambgcolor{
    background-color: #050c19;
}
.Team_Title2{
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 10vmin;
    line-height: 62px;
    font-weight: 600;
    color: white;
    font-style: normal;  
    top: 22px;
    position: relative;
}
.Team_Title {
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 10vmin;
    line-height: 62px;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
    background: linear-gradient(to right, #f32170, #ff6b08,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    top: 22px;
    position: relative;
}

.Team_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
/* 
.Team_container {
    margin: 50px;
} */

.Team_col {
    margin: 20px;
    width: 265px;
    margin-right: 34px;
    margin-left: 42px;
}

@media only screen and (max-width:661px) {
    .Team_row {

        width: 100%;
        margin: 0px;
        margin-bottom: 20px;

    }
}