*{
    margin: 0;
    padding: 0;
}
.main-login{
    background-color: rgb(31 41 55);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-login{
	background-color: rgb(17 24 39);

    color: rgb(156 163 175);
    /* width: 350px; */
    height: auto;
    line-height: 30px;
    border-radius: 10px;
 
    padding-top: 20px;
    padding-bottom: 30px;
}
@media (max-width: 370px) {
    .box-login{
        width: 100vw;
        height: 100vh;
        
    }
    .form-login{
        width: 70vw;
    }
    .h1-login{
        margin-top: 30px;
    }
}
.h1-login{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 70px;
    /* font-size: 60px; */
}
.form-login{
    margin: auto;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 10px 20px 10px;
}
.input-login{
    width: 95%;
    padding: 8px;;
    background-color: rgb(55 65 81);
    border-radius: 7px;
    border-width: 0;
    border-color: rgb(59 130 246);
    margin-bottom: 10px;
    color: white;
    font-size: 18px;

}
.button-login{
    width: 102%;
    margin-top: 20px;
    background-color: rgb(58, 171, 135);
    color: white;
    font-size: 20px;
    border-radius: 7px;
    padding: 8px;
    border-width: 0;
}
.txt{
    margin-top: 10px;
    font-size: 16px;
}
.button-login:hover{
    background-color: rgb(31, 114, 89);
    font-size: 23px;
}
.a-login{
    color: white;
    text-decoration: none;
}
.a-login:hover{
    text-decoration: underline;
}