.sec {

    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-vid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.sec-new {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

.vid-1 {
    background-color: #050c19;


}

.front-btn {}

.bg-1 {
    background-color: #050c19;
    width: 100%;

}

.icon-link {
    text-decoration: none;
    color: white;
}


.bg-2 {
    background-color: #050c19;
    width: 100%;
    height: 50vh;
}

.bg-3 {

    width: 100%;
    height: 100vh;
}

.bg-4 {
    background-color: #050c19;
    width: 100%;
    height: 100vh;
}

.bg-5 {
    background-color: #050c19;
    width: 100%;
    height: 100vh;
}

.bg-6 {
    background-color: #050c19;
    width: 100%;
    height: 100vh;
}

.bg-7 {
    background-color: #050c19;
    width: 100%;
    height: 100vh;
}

.sec-eve-day {
    font-size: 6vmin;
    font-weight: bolder;
    background: transparent;
}

.sec-eve-nam {
    font-size: 10vmin;
    font-weight: bolder;
    cursor: pointer;
    background: transparent;
}



.sec-det-eve {
    font-size: 4vmin;
    font-weight: bold;
    background: transparent;
}

.btn {

    margin-top: 5vw;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    background: transparent;
    font-weight: bold;
    padding: 3vh 3vw;
    cursor: pointer;
}

.btn:hover {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.sec-btn {
    background-color: #050c19;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-1 {
    margin: 10px;
    font-size: 6vmin;
    letter-spacing: 10px;
    font-weight: bolder;
}

.font-2 {
    font-size: 3vmin;
    letter-spacing: 3px;
}

.venue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 7%;
}

.icon-card {
    margin: 20px;
}

.icon {
    font-size: 9vmin;
}

.icon-h1 {
    font-size: 4vmin;
}


.eve-box {
    border-radius: 18px;
    padding: 30px;
    background: linear-gradient(180deg, #142137, #0b121f 99.99%, rgba(20, 33, 55, 0));
}






.font-1 {
    margin: 10px;
    font-size: 6vmin;
    letter-spacing: 10px;
    font-weight: bolder;
}

.font-2 {
    font-size: 3vmin;
    letter-spacing: 3px;
    color: white;
}

.font-3 {
    color: white;
    font-size: 8vmin;
    letter-spacing: 5px;
    font-weight: bolder;
}

.font-4 {
    color: white;
    margin: 10px;
    font-size: 4vmin;
    letter-spacing: 4px;
    word-spacing: 8px;
}




.icon-h2 {
    font-size: 3.5vmin;
}

.footer-icon {
    font-size: 9vmin;
}

.i {
    font-size: 10vmin;
}

.gap {
    gap: 30px;
}


@media screen and (max-width:425px) {
    .bg-3 {
        height: 70vh;
    }

    .bg-4 {
        height: 70vh;
    }

    .bg-5 {
        height: 70vh;
    }

    .bg-6 {
        height: 70vh;
    }

    .bg-7 {
        height: 70vh;
    }
}